body {
    background-color: #ffffff;  
}

h1 {
    text-align: center;
}

.navbar.responsive {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    display: flex;
    list-style: none;
    background-color: #ffffff;
    color: #ffffff;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    color: #ca482e;
    font-size: 36px;
}

.nav-list li a:hover {
    color: #df8a79;
}

h2 {
    text-align: center;
}

img {
    float: right;
    
}

.recipe-card-container {
    display: flex;
    justify-content: space-between;
}

.recipe-card {
    width: 30%; 
    padding: 20px;
    border: 10px solid #000000;
    border-radius: 5px;
    cursor: pointer; 
}