@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
body {
    background-color: #ffffff;  
}

h1 {
    text-align: center;
    font-size: xxxx-large;
    color: #DC143C;
}


/*fridge.html styling*/

.ingredient-shelf {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
}

.ingredient-item {
    flex-direction: row; 
    margin: 40px; 
    width: 100px; 
    cursor: pointer;
}
.selected {
    border: 2px solid green; /* Adjust border color as needed */
    transform: scale(1.05); /* Optional: Slightly enlarge the selected item */
}

.ingredient-icon {
    width: 50px;
    height: 50px;
}

.ingredient-name {
    text-align: center;
}

.ingredient-card:hover {
    transform: scale(1.05); /* Increase card size slightly on hover */
  }