@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
body {
    background-color: #ffffff;  
}

h1 {
    text-align: center;
    font-size: xxxx-large;
    color: #DC143C;
}

.navbar.responsive {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    display: flex;
    list-style: none;
    background-color: #0047AB;
    color: #ffffff;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    color: #DC143C;
    font-size: 36px;
}

.nav-list li a:hover {
    color: #df8a79;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

img {
    float: right;
    
}

.recipe-card-container {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}

.recipe-card {
    width: 25%; 
    padding: 20px;
    margin: 10px;
    border: 10px solid #DC143C;
    border-radius: 5px;
    cursor: pointer; 
}
   
.recipe-card:hover {
    transform: scale(1.05); /* Increase card size slightly on hover */
  }

.star {
    color: #DC143C; 
  }

  /*styling for recipe-cards*/
  .recipe-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer; 
  }
  
  .card-content {
    display: block; 
  }
  
  .recipe-card.active .card-content {
    display: block; 

  }

  .select-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }


  .ingredient-name {
    text-align: center;
  }
  .ingredient-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .ingredient-item {
    text-align: center; 
    margin: 10px; 
  }
  
  .ingredient-icon {
    width: 50px;
    height: 50px; 
    margin-bottom: 5px; 
  }