body {
    background-color: #b3d3a3;  
}

h1 {
    text-align: center;
}

.navbar.responsive {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    display: flex;
    list-style: none;
    background-color: #b3d3a3;
    color: #b3d3a3;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    color: #ca482e;
    font-size: 36px;
}

.nav-list li a:hover {
    color: #df8a79;
}

h2 {
    text-align: center;
}