@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

body {
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-size: larger;
    color: #DC143C;
}

.navbar.responsive {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    display: flex;
    list-style: none;
    background-color: #ffffff;
    color: #ffffff;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    color: #DC143C;
    font-size: 30px;
}

.nav-list li a:hover {
    color: #df8a79;
    text-decoration: underline;
}

/*ingredient shelf styling*/

.ingredient-shelf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Add gap between items */
}

.fridge-ingredient {
    margin: 10px; /* Add margin around each ingredient */
    cursor: pointer;
}

.fridge-ingredient.selected {
    border:  2px solid green;
}

.ingredient-icon {
    width: 50px;
    height: 50px;
}

.ingredient-name {
    text-align: center;
}

#submit-button {
    display: block;
    background-color: #DC143C;
    color: #ffffff;
    border-color: #6f0a1e;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    font-weight: bold;
}

#submit-button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
} 
  