@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

body {
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-size: xxxx-large;
    color: #DC143C;
}

/* fridge.html styling */

.ingredient-shelf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Add gap between items */
}

.fridge-ingredient {
    margin: 10px; /* Add margin around each ingredient */
    cursor: pointer;
}

.fridge-ingredient .selected {
    border: solid green;
    transform: scale(1.05);
}

.ingredient-icon {
    width: 50px;
    height: 50px;
}

.ingredient-name {
    text-align: center;
}

#submit-button {
    display: block;
    background-color: #DC143C;
    color: #ffffff;
    border-color: #DC143C;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    font-weight: bold;
}

#submit-button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
} 
  